.row
	.span6.offset3
		%h1 Welcome to Educomer!
		%br
		%form.form-search
			.input-append
				%input.span3.search-query{:placeholder => "Search Food", :type => "search"}
					%button.btn{:type => "button"}
						%span.icon-search
	.span5.offset3
		= image_tag('temporary_food.jpg')