%header.navbar.navbar-fixed-top
	.navbar-inner
		.container
			= link_to "Educomer", root_path, id: "logo"
			%nav
				%ul.nav.pull-right
					%li
						= link_to "Home", root_path
					%li
						= link_to "Sign Up", signup_path